* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #e9f2ff;
    margin: 100px auto;
}

.chat-container {
    height: 80vh;
    display: flex;
    max-width: 750px;
    min-width: 300px;
    border-radius: 20%;
    box-shadow: 5px 5px 10px #ccc;
    flex-direction: column;
}

.chat-header {
    background: #0d6efd;
    color: white;
    padding: 16px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.chat-box {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
/* 
.message {
    max-width: 60%;
    padding: 10px 14px;
    border-radius: 18px;
    margin-bottom: 10px;
    font-size: 14px;
    word-wrap: break-word;
}

.left {
    align-self: flex-start;
    background: white;
    border: 1px solid #cfe2ff;
}

.right {
    align-self: flex-end;
    background: #0d6efd;
    color: white;
} */

.message {
    position: relative;
    max-width: 65%;
    padding: 12px 16px;
    border-radius: 20px;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 1.4;
    word-wrap: break-word;
}

.left {
    align-self: flex-start;
    background: #ffffff;
    border: 1px solid #dbeafe;
}

.right {
    align-self: flex-end;
    background: linear-gradient(135deg, #0d6efd, #3b82f6);
    color: white;
}

.delete-btn {
    position: absolute;
    top: -8px;
    right: -8px;
    background: #ff4d4f;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    cursor: pointer;
    display: none;
}

.right:hover .delete-btn {
    display: block;
}

.chat-input {
    display: flex;
    padding: 12px;
    background: white;
    border-top: 1px solid #ddd;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.chat-input button {
    margin-left: 10px;
    padding: 10px 16px;
    border: none;
    background: #0d6efd;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.register-screen {
    position: fixed;
    inset: 0;
    background: #e9f2ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    text-align: center;
}

.register-box input {
    padding: 10px;
    width: 200px;
    margin-top: 10px;
}

.register-box button {
    margin-top: 10px;
    padding: 10px 16px;
    background: #0d6efd;
    color: white;
    border: none;
}
